.services_wrapper{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #DDDD;
    border-bottom: 1px solid #DDDD;
    
    
}
.services_con{
    &:not(:last-child){
        margin-right: 35px;
    }
    .services_img{

        i{
            font-size: 35px;
        }
    }
    .services_decs{
        h3{
            font-size: 22px;
            color: #222222; 
        }
        p{
            font-size: 16px;
            color: #222222; 
               }
    }
}
@media screen and (max-width: 744px){
   .services_wrapper{
       flex-direction: column;
   }
}